:root {
  --font-family: 'Inter', sans-serif;
  --c1: #31261A;
  --c2: #819B57;
  --c3: #465929;
  --c4: #A18268;
  --c5: #CFCFBC;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  margin: 0;
}

h1 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

em {
  font-style: normal;
}

:link,
:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

#hero {
  background-image: linear-gradient(127deg, #121211c7 0%, #12121199 63.89%, #12121100 100%), url('images/background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #FAF4EA;
  display: grid;
  align-content: space-between;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 87px 32px 103px;

    ul {
      display: flex;
      gap: 64px;
    }

    button {
      font-weight: 600;
      font-size: 18px;
      border-radius: 8px;
      width: 238px;
      height: 59px;
      background-color: var(--c2);
    }
  }

  h2 {
    font-weight: 900;
    font-size: 128px;
    text-align: center;

    em {
      color: var(--c2);
    }
  }

  .features {
    display: flex;
    justify-content: center;
    /* padding: 16px 112.5px; */
    gap: 160px;
    height: 62px;
    align-items: center;
    background-color: var(--c2);
  }
}